@using Tekno.FlexSlider.ViewModels

@{
    Style.Require("FlexSlider");
    Script.Require("FlexSlider").AtFoot();

    var items = (IEnumerable<FlexSliderWidgetViewModel>)Model.SlideItems;
}
<div class="flexslider">
    <ul class="slides">
        @foreach (var item in items)
        {
            <li>
                @if (item.ImagePath != "")
                {
                    <img src="@Display.ResizeMediaUrl(Path: item.ImagePath, Height: 400, Mode: "crop")" />
                }
            </li>
        }
    </ul>
</div>
@using (Script.Foot())
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.flexslider').flexslider({
                animation: "slide"
            });
        });
    </script>
}
