@model Tekno.FlexSlider.ViewModels.FlexSliderEditViewModel

    <div>
        @T("Slide Order") : @Html.TextBoxFor(i => i.Sort, new { type = "number", min = "1", max = "255", required = "required" })
    </div>
    <div>
        @T("Slider Group") : @Html.DropDownListFor(i => Model.GroupId, Model.Groups)
    </div>